.duck {
  display: block;
  width: 120px;
  margin: 1.5rem auto;
}

.comments{
  margin-left: 30px;
  margin-top: 20px;
}

.select-box{
  margin:  0 10px;
  height: 40px;
  padding: 10px;
  min-width: 200px;
}

.clear-button{
  height: 30px;
  width: 30px;
  border-radius: 40px;
}

label{
  margin-top: 4px;
  font-size: 16px;
}

.chips-input{
  margin:  0 10px;
  height: 40px;
  padding: 10px;
  min-width: 200px;
  font-size: 100% !important;
}

$chip-y-spacing: 15px;
$chip-x-spacing: 5px;
$chip-button-width: $chip-y-spacing + $chip-x-spacing * 2;
$chip-border-radius: 15px;
$chip-color: #fff;
$chip-min-height: 36px;
$secondary: #ddd;


#title {
  letter-spacing: 1px;
}

.chips {
  min-height: $chip-min-height;
  line-height: 1;
  font-size: 1em;
}

.chips-input {
  display: inline-block;
  width: 33%;
  min-height: $chip-min-height;
  margin-bottom: $chip-x-spacing;
  margin-left: $chip-x-spacing * 2;
  border: 0;
  outline: none;
  font-size: 0.9rem;
}

.chip {
  display: inline-block;
  margin-top: $chip-x-spacing;
  margin-bottom: $chip-x-spacing;
  margin-left: $chip-x-spacing;
  margin-right: $chip-button-width;
  position: relative;

  .chip-value {
    display: inline-block;
    padding: $chip-x-spacing;
    padding-left: $chip-y-spacing;
    padding-right: $chip-y-spacing / 2;
    background: $secondary;
    color: $chip-color;
    font-weight: bold;
    border-radius: $chip-border-radius 0 0 $chip-border-radius;
  }

  .chip-delete-button {
    background: $secondary;
    color: $chip-color;
    border: 0;
    border-radius: 0 $chip-border-radius $chip-border-radius 0;
    padding: $chip-x-spacing $chip-x-spacing * 2;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -$chip-button-width;
    line-height: 0.5;
    font-weight: bold;
  }

}

.post-top{
  cursor: pointer;
}
